canvas {
    position:fixed;
    top: 0;
    left: 0;
    padding:0;
    margin:0;
    z-index:-100
}
main {
    position: absolute;
}
.block1 {
    position:relative;
    background-color: rgba(255, 5, 5, 0.3);
    z-index: -1000;
    padding: 10px;
}

.block2 {
    position:relative;
    background-color: rgba(255,255,255,0.3);
    z-index: -1;
    padding: 10px;
    float:right;
}

svg {
    display:none
}

